*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: ivory;
  padding: 0;
  margin: 0; }

.container {
  max-width: 100vw;
  display: grid;
  grid-template-rows: 50px auto 50px;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow-y: scroll; }

.Skills {
  display: grid;
  background-color: #444;
  height: calc(100vh - (2 * 50px));
  background-image: linear-gradient(#333, #666);
  grid-column: 1/3;
  text-align: center;
  justify-items: center;
  grid-gap: 2rem;
  padding: 0rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  grid-template-rows: [project-top] 50px [project-start] auto [project-end]; }
  .Skills .Skills_title {
    grid-row: project-top;
    z-index: 1; }
  .Skills .skills_board {
    display: grid;
    grid-template-columns: [col-start] repeat(4, minmax(100px, 300px)) [col-end];
    grid-template-rows: [project-start] 1fr [project-mid] 1fr [project-end];
    z-index: 1;
    padding-left: 15vw;
    padding-right: 15vw; }
    .Skills .skills_board .skill_item {
      height: 20vh;
      width: auto; }
    .Skills .skills_board svg {
      height: 20vh;
      width: auto; }

.Contact {
  visibility: hidden;
  background-color: #ccc;
  width: 93vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  z-index: 10;
  opacity: 0; }

.close_contact {
  margin: 3px;
  float: right;
  height: 20px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  cursor: pointer; }

.close_contact:after {
  content: "\00d7"; }

.close_contact:hover {
  background-color: lavender; }

.Footer {
  background-color: #222;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-start: 1;
  grid-column-end: 3; }

.Header {
  display: grid;
  height: calc(100vh - (2 * 50px));
  scroll-snap-align: start;
  scroll-snap-stop: always; }
  .Header_info {
    background-color: black;
    background-image: linear-gradient(#111, #222);
    height: 100%; }
  .Header_picture {
    position: relative;
    float: right;
    align-self: center;
    justify-self: center;
    margin: 20px;
    margin-right: 45px;
    z-index: 5;
    height: 75vh;
    width: auto; }
  .Header_picture_u {
    position: fixed;
    right: 0;
    margin: 20px;
    margin-right: 45px;
    height: 75vh;
    width: auto;
    z-index: 0;
    pointer-events: none; }

.Projects {
  overflow-y: scroll;
  background-color: #222;
  background-image: linear-gradient(#222, #333);
  grid-column: 1/3;
  height: calc(100vh - (2 * 50px));
  display: grid;
  grid-template-columns: auto repeat(2, minmax(200px, 300px)) auto;
  grid-template-rows: [project-top] 50px [project-start] 1fr [project-mid] 1fr [project-end];
  grid-gap: 2rem;
  padding: 0rem;
  text-align: center;
  justify-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always; }
  .Projects__content__1 {
    grid-row: project-start / project-mid;
    grid-column: 2 / 3;
    height: 25vh;
    z-index: 1; }
  .Projects__content__2 {
    grid-row: project-start / project-mid;
    grid-column: 3 / 4;
    height: 25vh;
    z-index: 1; }
  .Projects__content__3 {
    grid-row: project-mid / project-end;
    grid-column: 2 / 3;
    height: 25vh;
    z-index: 1; }
  .Projects__content__4 {
    grid-row: project-mid / project-end;
    grid-column: 3 / 4;
    height: 25vh;
    z-index: 1; }
  .Projects__img {
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    object-fit: scale-down;
    z-index: 1; }
  .Projects__link {
    margin-top: 8px;
    z-index: 1; }
  .Projects .Projects_title {
    grid-row: project-top;
    grid-column: 2 / 4;
    z-index: 1; }

.Navbar {
  background-color: #333;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 50px; }

.logo {
  margin-top: 3px;
  margin-left: 5px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  float: right; }

li {
  float: left; }

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s; }

li a:hover {
  background-color: lavender; }

.focus {
  color: #333;
  background-color: lavender; }

.Pages {
  display: grid;
  grid-auto-rows: 100%;
  grid-auto-flow: row;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory; }

section {
  display: block;
  height: calc(100vh - (2 * 50px));
  width: 100vw; }
