*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  font: normal 16px Helvetica, Arial, sans-serif;
  color: ivory;
  padding: 0;
  margin: 0; }

.container {
  max-width: 100vw;
  display: grid;
  grid-template-rows: 50px auto 70px;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow-y: scroll; }

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px); }
  17% {
    transform: translateY(-20px); }
  28%,
  50%,
  70%,
  90% {
    transform: translateY(3px); }
  38% {
    transform: translateY(-10px); }
  60% {
    transform: translateY(-6px); }
  80% {
    transform: translateY(-3px); } }

.Skills {
  display: grid;
  background-color: #444;
  height: calc(100vh - (2 * 60px));
  background-image: linear-gradient(#333, #666);
  grid-column: 1/3;
  text-align: center;
  justify-items: center;
  grid-gap: 2rem;
  padding: 0rem;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  grid-template-rows: [project-top] 50px [project-start] auto [project-end]; }
  .Skills .Skills_title {
    grid-row: project-top;
    z-index: 1;
    cursor: pointer; }
  .Skills .skills_board {
    display: grid;
    grid-template-columns: [col-start] repeat(4, minmax(100px, 300px)) [col-end];
    grid-template-rows: [project-start] 1fr [project-mid] 1fr [project-end];
    z-index: 1;
    padding-left: 15vw;
    padding-right: 15vw; }
    .Skills .skills_board .skill_item {
      height: 20vh;
      width: auto;
      cursor: pointer; }
    .Skills .skills_board svg {
      height: 20vh;
      width: auto; }
    .Skills .skills_board div {
      transition: transform .3s; }
    .Skills .skills_board div:hover {
      transform: scale(1.4); }

.Contact {
  visibility: hidden;
  opacity: 0;
  background-color: #ccc;
  width: 93vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  transition: 1s;
  z-index: 10;
  display: inline-grid;
  grid-gap: 2em;
  grid-template-columns: 15vw [col-start] 1fr 1fr [col-end] 15vw;
  grid-template-rows: [contact-top] 20px [row-start] 1fr 1fr [row-end] 15vh; }
  .Contact .close_contact {
    grid-column: 4;
    justify-self: right;
    grid-row: contact-top;
    margin: 3px;
    float: right;
    height: 20px;
    width: 20px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform .3s; }
  .Contact .close_contact:after {
    content: "\00d7"; }
  .Contact .close_contact:hover {
    transform: scale(1.25);
    background-color: lavender; }
  .Contact .contact_item_container {
    display: inline-grid;
    grid-column: col-start / col-end;
    grid-row: contact-top / row-end;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; }
  .Contact .contact_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40vh; }
  .Contact svg {
    transition: transform .3s;
    height: 20vh;
    width: auto; }
  .Contact svg:hover {
    transform: scale(1.5); }

.Footer {
  background-color: #222;
  height: 70px;
  display: grid;
  grid-row: 3;
  grid-template-columns: repeat(6, 1fr); }
  .Footer .footer_content_container {
    grid-column: 1 / 7; }
  .Footer .footer_content {
    display: flex;
    grid-column: 1 / 5;
    grid-row: auto;
    align-items: center;
    justify-content: center; }
    .Footer .footer_content p {
      margin-top: 12px;
      padding: 14px;
      font-size: .7em;
      text-align: center;
      cursor: pointer; }
  .Footer .footer_links {
    grid-column: 5 / 7; }
  .Footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right; }
  .Footer li {
    float: left; }
  .Footer li a {
    display: block;
    font-size: .8em;
    font-weight: 600;
    color: white;
    text-align: center;
    margin-top: 12px;
    padding: 14px;
    text-decoration: none; }
  .Footer li a:hover {
    background-color: lavender; }

.Header {
  background-image: linear-gradient(#111, #222);
  height: calc(100vh - (2 * 60px));
  scroll-snap-align: start;
  scroll-snap-stop: always; }
  .Header_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%; }
    .Header_info_container {
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column: 1 / 2; }
      .Header_info_container p {
        font-size: 2.8em;
        text-align: center;
        padding-left: 1.2em;
        padding-right: .5em;
        cursor: pointer; }
  .Header_picture, .Header_picture_u {
    grid-column: 2 / 3;
    margin: 20px;
    margin-right: 45px;
    height: 75vh;
    width: auto; }
  .Header_picture {
    position: relative;
    float: right;
    align-self: center;
    justify-self: center;
    z-index: 5;
    transition: transform .3s; }
  .Header_picture:hover {
    transform: scale(1.3); }
  .Header_picture_u {
    position: fixed;
    right: 0;
    z-index: 0;
    pointer-events: none; }

.Projects {
  overflow-y: scroll;
  background-color: #222;
  background-image: linear-gradient(#222, #333);
  height: calc(100vh - (2 * 60px));
  display: grid;
  grid-template-columns: 5vw [col-start] 9fr [col-end] 5vw;
  grid-template-rows: [project-top] 50px [project-start] 2fr [project-mid] 2fr [project-end];
  grid-gap: 2rem;
  text-align: center;
  justify-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always; }
  .Projects__container {
    display: grid;
    grid-column: col-start / col-end;
    grid-row: project-start / project-end;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr); }
  .Projects__content__1, .Projects__content__2 {
    height: 50vh;
    width: auto;
    z-index: 1;
    position: relative;
    display: inline-block;
    background-color: #ccc;
    margin: 10px; }
  .Projects__content__1 {
    grid-column: 1 / 6;
    grid-row: 1 / 6; }
  .Projects__content__2 {
    grid-column: 7 / 12;
    grid-row: 1 / 6; }
  .Projects .text-box {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%; }
  .Projects p {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    color: #333;
    z-index: 0;
    transform: translate(-50%, -50%); }
  .Projects__img {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    object-fit: fill;
    z-index: 1; }
  .Projects .link-box {
    display: grid; }
  .Projects__link {
    grid-row: 4 / 6;
    color: lavender;
    margin: 12px;
    z-index: 1;
    font-size: 1.4em; }
    .Projects__link svg {
      margin-top: 12px;
      height: 4em;
      width: auto; }
  .Projects img {
    transition: .5s; }
  .Projects img:hover {
    opacity: .2; }
  .Projects a:hover {
    animation: bounce 1.2s; }
  .Projects .Projects_title {
    grid-row: project-top;
    grid-column: col-start / col-end;
    z-index: 1;
    cursor: pointer; }

.Navbar {
  background-color: #333;
  grid-column-start: 1;
  grid-column-end: 3;
  height: 50px; }
  .Navbar .logo {
    margin-top: 3px;
    margin-left: 5px;
    transition: 1s; }
  .Navbar .logo:hover {
    transform: scale(1.2); }
  .Navbar ul {
    list-style-type: none;
    margin: 3px;
    padding: 0;
    overflow: hidden;
    float: right; }
  .Navbar li {
    float: left; }
  .Navbar li a {
    display: block;
    font-weight: 600;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s; }
  .Navbar li a:hover {
    background-color: lavender; }

.focus {
  color: #333;
  background-color: lavender; }

.Pages {
  display: grid;
  grid-auto-rows: 100%;
  grid-auto-flow: row;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory; }

section {
  display: block;
  height: calc(100vh - (50px + 70px));
  width: 100vw; }
