.Contact {
    visibility: hidden;
    opacity: 0;
    background-color: #ccc;
    width: 98vw;
    height: 95vh;
    position: absolute;
    top: 50%;
    left: 50%;

    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    transition: 1s;

    z-index: 10;

    display:inline-grid;
    // grid-gap: 2em;
    grid-template-columns: 7vw [col-start] 1fr 1fr [col-end] 7vw;
    grid-template-rows: [contact-top] 20px [row-start] 1fr 1fr [row-end] 15vh;

    // grid-gap:2vh;

    @media only screen and (max-width:$medium) {
        height:75vh;
    }
    p{
        position: fixed;
        top:-15px;
        left:5px;
        // height:20px;
        width:100px;
        // top:-20%;
        color:#333;
        font-weight:600;
        grid-row:1;
    }



.close_contact {
    grid-column: 4;
    justify-self: right;
    grid-row: contact-top;
    margin: 3px;
    float:right;
    height:30px;
    width:30px;
    font-size:30px;
    text-align: center;
    cursor: pointer;
    transition: transform .3s;

    @media only screen and (max-width:$medium) {
        height:50px;
        width:50px;
    }


}

.close_contact:after {
    content: "\00d7";
}

.close_contact:hover {
    transform: scale(1.25);
    background-color: lavender;

}

.contact_item_container {
    display: inline-grid;

    grid-column: col-start / col-end;
    grid-row: contact-top / row-end;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

}


.contact_item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:40vh;

}

svg {
    transition: transform .3s, fill .7s ease;
    height: 20vh;
    width:auto;
}

svg:hover {
    transform: scale(1.5);
    fill: deeppink;
}

}