.Header {
    display:grid;
    // grid-template-rows:100%;
    height:calc(100vh - (2 * 50px));

    // grid-template-columns: repeat(2,1fr);
    // grid-auto-rows: 100%;

    &_info {

        background-color: black;
        background-image: $gradient1;
        height: 100%;

        
        // @media only screen and (max-width: $medium) {
        //     grid-column: full-start / full-end;
        // }
    }

    &_picture {
        float:right;
        align-self: center;
        justify-self: center;
        margin:20px;
        // @media only screen and (max-width: $medium) {
        //     grid-column: full-start / full-end;
        //     grid-row: 2 / 3;
        // }
    }
}