.Pages {
    display:grid;
    grid-auto-rows: calc(100vh - (2*60px));
    grid-auto-flow: row;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
}


section {
    display:grid;
    height:100%;
    width:100vw;
}

// #projects_section {
//     @media only screen and (max-width:$medium) {
//         display: block;
//         height:calc(200vh - (100px + 140px));
//     }
// }




// div {
//     height:100%;
// }

// .panel {
//     display: grid;
//     grid-template-rows: @bar-height auto;
//     height: calc(~"100vh -" @bar-height);
// }